@charset "UTF-8";

/*  Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

/* General  */
body {margin: 0;}

ul, ol {margin: 0; padding: 0; list-style-type: none; font-family: 'Open Sans', sans-serif; font-size: 14px;}

img {display: block; max-width:100%; }

.container { max-width: 1200px; margin: 0 auto; }

/* Header */



/*  Nav */



/* Main */



/* Footer */


/* Helper */
.clearfix:before,
.clearfix:after {content: ''; display: block;}
.clearfix:after {clear: both;}

.clear {clear: both;}

