@charset "UTF-8";

/*  Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');


/* Grid */

@import url('lib/grid.css');

/* General  */
body {margin: 0;}

ul, ol {margin: 0; padding: 0; list-style-type: none; font-family: 'Open Sans', sans-serif; font-size: 14px;}

img {display: block; max-width:100%; margin: 0 auto; }

.container { max-width: 1200px; margin: 0 auto; padding: 0 16px;}

/* Header */

.header-page { background: transparent url('../images/05-calendario.jpeg') no-repeat center center; 
    padding: 100px 0 300px;
    background-size: cover;
}

.header-page h1 {
    font-size: 45px;
    margin: 0;
    font-weight: 300;
    color: #fcf8f8 ;
    text-shadow: 1px 1px 10px #333;
}

/*  Nav */
/*
    .menu.menu-item {}     ->  Selector descendiente / Aplica al elemento que tiene la clase
                                ".menu-item" y que es hijo de ".menu"
    .menu, .menu-item {}   -> Concatenación de selectores
    menu.menu-item {}      -> El elemneto debe tener las dos clases 
    .menu > .menu-item {}  -> Aplica al elemento que tiene la clase
                                ".menu-item" y que es hijo --> directo <--  de ".menu"
*/

.nav-page {
    display: block;
    background-color: #f2f2f2;
}
.nav-page a {
    display: block;
    color: #fffbfb;
    text-shadow: 1px 1px 10px #333;
    text-decoration: none;
    padding: 10px 20px;
    transition: all .3s;
}
.nav-page a:hover {
    background-color: rgba(66, 65, 65, 0.329);
}
.nav-page__menu >li {
    display: inline-block;
}
.nav-page__menu > li > a {
    text-transform: uppercase;
}
.nav-page__menu > li:hover .nav-page__submenu {
    display: block;
    max-height: 200px;
    opacity: 1;
}
.nav-page__submenu {
    background-color: #f2f2f2;
    position: absolute;
    /*display: none;
    padding: 10px 0;*/
    width: 150px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .4s;
}

/* Main */

.main-page {
    padding: 65px 0;
}

.section-page__contact-data li {
    padding: 10px 0;
    border-top: 1px solid #333;
}

.section-page__contact-data li:first-child {
    border-top: none;
}

.section-page__contact-data li + li {
    border-top: 1px solid #333;
}

.section-page__contact-data .fa {
    display: inline-block;
    min-width: 20px;
    font-size: 18px;
    text-align: center;
    color: rgb(155, 150, 83);
}

.main-page h2:first-child {
    margin-top: 0;
    line-height: 1;
}

.section-page-gallery__video { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 

.section-page-gallery__video iframe,
.section-page-gallery__video object,
.section-page-gallery__video embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Slider */

.slider {
    width: 600px;
    height: 600px;
    margin: 0 auto 200px;
    position: relative;
    
}

.slider__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.461);
    padding: 25px;
    
}

.slider h3 {
    
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    color: #f2f2f2;
    
}

.slider a {
    color: #FFF; 
}

.flex-control-nav {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    z-index: 10;
    text-align: center;
    padding: 10px 0;
}

.flex-control-nav li {
    display: inline-block;
}

.flex-control-nav li + li {
    margin-left: 8px;
}

.flex-control-nav a {
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(252, 203, 98);
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
}

.flex-control-nav .flex-active {
    background-color: rgba(77, 202, 240, 0.577);
}

.flex-next,
.flex-prev {
    position: absolute;
    top: 50%;
    font-size: 35px;
    color: #FFF;
    text-shadow: 0 0 5px #000;
    opacity: .7;
    z-index: 3;
    transition: all .3s;
}

.flex-next:hover,
.flex-prev:hover {
    opacity: 1;
}

.flex-next {
    right: 15px;
}

.flex-prev{
    left: 15px;
}

/* Footer */

.footer-page {
    background-color: #f2f2f2;;
    padding: 25px 0;
    text-align: center;
}

.footer-page p {
    margin: 0;
    color: #fffbfb;
    text-shadow: 1px 1px 10px #333;
    font-size: 18px;
   
}

/* Media Queries */


@media screen and (min-width: 768px) {
    .main-page h2:first-child {
        margin-top: 0;
        line-height: 1;
    }
}

/* Helper */
.clearfix:before,
.clearfix:after {content: ''; display: block;}
.clearfix:after {clear: both;}

.clear {clear: both;}

.margin-top,
.mt {
    margin-top: 25px;
}

.margin-bottom,
.mb {
    margin-bottom: 25px;
}

.margin-vertical,
.mv {
    margin-top: 25px;
    margin-bottom: 25px;
}
